body{
    background-color: #868686;
    margin:0;

}


#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#menuContainer{
    width: 100vw;
    height: 5vh;
    margin:0;
}

#toolsContainer{
    width: 10vw;
    height:95vh;
    display: inline-block;
    margin:0;
}

#mainContainer{
    width: 90vw;
    height:95vh;
    display: inline-block;
    margin:0;
}

#menuBar{
    background: #E5E5E5;
    width: 100%;
    height: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
}

#toolBar{
    background: #E5E5E5;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    height: 95%;
    width: 80%;
    margin:auto;
    margin-top:2vh;
    /* padding:20%; */
}

main{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    height: 95%;
    width: 98%;
    margin-top: 2vh;
}

input{
    border-radius: 8px;
    background: #C4C4C4;
    height: 3vh;
    margin:0.8vh;
}

.toggleItem{
    display:none;
}

/* this is temporary,,,,,,, */
.toggleDiv:hover .toggleItem{
    display: block;
    position: absolute;
}


.buttonIcon{
    height: 3.5vh;
    width: 3.5vh;
    background-size: cover;
}

.buttonIcon:hover{
    border: 3px solid #3EB4F7;
    
}

#sizeB{
    background-image: url('https://yuzhuchai.com/works/speakpen/assets/size.png');
}

#bgColorB {
    background-image: url('https://yuzhuchai.com/works/speakpen/assets/bgcolor.png');
}

#colorB{
    background-image: url('https://yuzhuchai.com/works/speakpen/assets/color.png');
}

#alphaB{
    background-image: url('https://yuzhuchai.com/works/speakpen/assets/opacity.png');
}

#bold{
    background-image: url('https://yuzhuchai.com/works/speakpen/assets/bold.png');
}

#italics{
    background-image: url('https://yuzhuchai.com/works/speakpen/assets/italics.png');
}

#save{
    background-image: url('https://yuzhuchai.com/works/speakpen/assets/save.png');
}

.toolBarDivide{
    /* outline: 1px black solid; */
    width: 85%;
    margin:auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-top: 5vh ; */
}

#pensContainer{
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#pen{
    background-image: url('https://yuzhuchai.com/works/speakpen/assets/pen.png');
}

#fillFunc{
    background-image: url('https://yuzhuchai.com/works/speakpen/assets/fill.png');
}

#eraseFunc{
    background-image: url('https://yuzhuchai.com/works/speakpen/assets/erasor.png');
}

#eraseText{
    background-image: url('https://yuzhuchai.com/works/speakpen/assets/terasor.png');
}
#eraseN{
    background-image: url('https://yuzhuchai.com/works/speakpen/assets/nerasor.png');
}
#eraseAll{
    background-image: url('https://yuzhuchai.com/works/speakpen/assets/clear.png');
}

#expandingContainer {
    background: #C4C4C4;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}